/* the window border colour */
@define-color border_color #00B300;
@define-color stickynote_color #F3C000;

* {
  font-size: 24px;
}

/* grid widget */
grid {
  background:#E0E0E0;
}

/* the menu window */
.menuwin { 
  border-radius: 10px 10px 10px 10px;
  border-width: 2px;
  border-color: @border_color;
  border-style: solid;
  font-size: 24px;
}

.menuwin button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 2px;
  font-size: 24px;
}

/* the shutdown/reboot/logout dialog */
.commandwin { 
  border-radius: 10px 10px 10px 10px;
  border-width: 2px;
  border-color: @border_color;
  border-style: solid;
  font-size: 24px;
}

.commandwin button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 2px;
  font-size: 24px;
}

.configuratorwin {
  border-radius: 10px 10px 10px 10px;
  border-width: 2px;
  border-color: @border_color;
  border-style: solid;
  font-size: 24px;
}

/*
#mysearchentry {
  background: white;
}*/

#yndialog {
  border-radius: 10px 10px 10px 10px;
  border-width: 0px;
  border-color: @border_color;
  border-style: solid;
  font-size: 24px;
}
